<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
 	<head>
	    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
	    <title>Page des Hémoragies</title>
	</head>
 	<body>
		<div id="modifiable" >
		
		
 			<div class="navigation" >
 			
	  			&nbsp;&nbsp;Navigation sur le site: &nbsp;&nbsp;  
	  			<a class="" href="Accueil.html" title="Page d'accueil">Observer</a>
	  			&nbsp;&nbsp;>&nbsp;&nbsp;<a class="versOAVA" href="" title="Page des OAVA">OAVA</a>
	  			&nbsp;&nbsp;>&nbsp;&nbsp;<a class="versHemoragie" href="" title="Page des Hemoragie">Hémoragie</a>
	  			&nbsp;&nbsp;>&nbsp;&nbsp;Conscient
	  			
			</div>
				  			
	  		<div class="formulaire" >
	  			
	  			<div class="conscient_1_oui">
	  				<p><a class="conscient" href="" > Il est conscient </a></p>
	  			</div>
	  			
				<div class="conscient_2_non">
	  				<p><a class="versTrauma" href="" > Il est inconscient </a></p>
	  			</div>
	  			
			</div>
			
			
	  	</div>s
  	</body>
</html>