<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
 	<head>
	    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
	    <title>Page des Hémoragies</title>
	</head>
 	<body>
		<div id="modifiable" >
		
		
 			<div class="navigation" >
 			
	  			&nbsp;&nbsp;Navigation sur le site: &nbsp;&nbsp;  
	  			<a class="" href="Accueil.html" title="Page d'accueil">Observer</a>
	  			&nbsp;&nbsp;>&nbsp;&nbsp;<a class="versOAVA" href="" title="Page des OAVA">OAVA</a>
	  			&nbsp;&nbsp;>&nbsp;&nbsp;Hémoragie
	  			
			</div>
				  			
	  		<div class="formulaire" >
	  			
	  			<div class="hemoragie_1_oui">
	  				<p><a class="hemoragie" href="" > Il y a une Hémoragie </a></p>
	  			</div>
	  			
<!-- 	  			<div class="hemoragie_1"> -->
<!-- 	  				<div class="hemoragie_1_1_sans"> -->
<!-- 		  				<p>Sans corps étranger</p> -->
<!-- 		  			</div> -->
		  			
<!-- 		  			<div class="hemoragie_1_2_avec"> -->
<!-- 		  				<p>Avec corps étranger</p> -->
<!-- 		  			</div> -->
		  			
<!-- 		  			<div class="hemoragie_1_3_amputation"> -->
<!-- 		  				<p>Amputation</p> -->
<!-- 		  			</div> -->
<!-- 	  			</div> -->
	  			
				<div class="hemoragie_2_non">
	  				<p><a class="versConscient" href="" > Il n'y a pas d'Hémoragie </a></p>
	  			</div>
	  			
			</div>
			
			
	  	</div>s
  	</body>
</html>