<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
 	<head>
	    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
	    <title>Page des OAVA</title>
	</head>
 	<body>
		<div id="modifiable" >
		
		
 			<div class="navigation" >
 			
	  			&nbsp;&nbsp;Navigation sur le site: &nbsp;&nbsp;  
	  			<a class="versAccueil" href="" title="Retour à l'accueil">Observer</a>
	  			&nbsp;&nbsp;>&nbsp;&nbsp;OAVA
	  			
			</div>
				  			
	  		<div class="formulaire" style="height:200px;">
	  			
	  			<div class="OAVA_1_oui">
	  				<p><a class="OAVA" href="" > Il y a une OAVA </a></p>
	  			</div>
	  			
	  			<div class="OAVA_1">
	  				<div class="OAVA_1_1_OBVA">
		  				<p>CAT OBVA</p>
		  			</div>
		  			
		  			<div class="OAVA_1_2_OB">
		  				<p>CAT OB partielle</p>
		  			</div>
	  			</div>
	  			
				<div class="OAVA_2_non">
	  				<p><a class="versHemoragie" href="" > Il n'y a pas d'OAVA </a></p>
	  			</div>
	  			
			</div>
			
			
	  	</div>
  	</body>
</html>