<div class="lang">
	<span><a id="fr" href="/?setLng=fr-FR" title="Voir le site en français" style="background-position:0 0;"></a></span>
	<span><a id="en" href="/?setLng=en-US" title="See this site in english"></a></span>
	<span><a id="es" href="/?setLng=es-ES" title="Veo el sito en español"></a></span>
</div>
<span class="titre1"><h1>Easy Secure</h1></span>
<span class="titre2"><h3></h3></span>
<span class="logo1"><img style="height:130px" src="images/secouriste.png"/></span>
