<a class="navigation_1" href="/bilan_circonstanciel"><span> {{t 'BCi_text'}} </span></a>&nbsp;&nbsp;&nbsp;
<a class="navigation_2" href="/bilan_urgence_vitale"><span> {{t 'BUV_text'}} </span></a>&nbsp;&nbsp;&nbsp;
<a class="navigation_3" href="/bilan_complementaire"><span> {{t 'BCo_text'}} </span></a>&nbsp;&nbsp;&nbsp;
<a class="navigation_4" href="/surveillance"><span> {{t 'SUR_text'}} </span></a>
