<div class="danger_1_supprimable">
	Le danger est supprimable
	<img class="danger_1_supprimable_img" style="position:absolute; display:none; height:70px; left:315px; top:-7px;" src="images/supprDanger.png"/>
</div>

<div class="danger_2_supprime">
	Je supprimer le danger.<br/>
	<a class="danger_2_supprime_vid" style="display:none;" href="#" title="Voir la vidéo correspondante"><img style="height:30px" src="images/video2.png"></a>
</div>

<div class="danger_3_non_supprimable">
	Le danger est <u>non</u> supprimable
	<img class="danger_3_non_supprimable_img" style="position:absolute; display:none; height:70px; left:303px; top:-7px" src="images/balisage.png"/>
</div>

<div class="danger_4_balisage">
	J'effectuer un balisage autour du sinistre.<br/>
	<a class="danger_4_balisage_vid" style="display:none;"  href="#" title="Voir la vidéo correspondante"><img style="height:30px" src="images/video2.png"></a>
</div>

<div class="danger_5_supprimable_urgence">
	Le danger est <u>non</u> supprimable <br> <u>et une personne est exposée au danger</u>
	<img class="danger_5_supprimable_urgence_img" style="position:absolute; display:none; height:70px; left:312px; top:5px" src="images/degagementUrgent.png"/>
</div>

<div class="danger_6_degagement">
	J'effectuer un dégagement d'urgence <br> de la personne exposée.<br>
	<a class="danger_6_degagement_vid" style="display:none;"  href="#" title="Voir la vidéo correspondante"><img  style="height:30px"  src="images/video2.png"></a>
</div>

<script >
	afficherDanger();
</script>