<div class="Urgence_vitale_1">
	<span>Y a-t-il une ou plusieurs détresse vitales évidentes?</br>
		Une détresse vitale évidente est une situation où la vie de la victime 
		est menacée très rapidement, et où il est impératif de faire 
		des gestes d’urgence salvateur. </br>
		On appel cela un BILAN D'URGENCE VITALE.</span>
</div>

<div class="Urgence_vitale_1_OVR">
	<span><a href="/bilan_urgence_vitale/ovr" > Une obstruction des voies respiratoires</a></span>
</div>

<div class="Urgence_vitale_2_hemorragie">
	<span><a href="/bilan_urgence_vitale/hemorragie" > Une hémorragie </a></span>
</div>

<div class="Urgence_vitale_3_inconscience">
	<span><a href="/bilan_urgence_vitale/inconscience" > Etat inconscience </a></span>
</div>